@model IEnumerable<RedSocialWebApi.Models.Amigos>
@{
    Layout = null;
}

@Html.Partial("NuevoAmigo")

@foreach (var item in Model)
{

    <div>
        @item.Usuario1.nombre @item.Usuario1.apellidos;
    </div>

}